<div id="fh5co-offcanvass">
  <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
  <h1 class="fh5co-logo"><a class="navbar-brand" routerLink="/index">Hydrogen</a></h1>
  <ul>
    <li class="active"><a routerLink="index">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  <h3 class="fh5co-lead">Connect with us</h3>
  <p class="fh5co-social-icons">
    <a href="#"><i class="icon-twitter"></i></a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-instagram"></i></a>
    <a href="#"><i class="icon-dribbble"></i></a>
    <a href="#"><i class="icon-youtube"></i></a>
  </p>
</div>
<header id="fh5co-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
        <a class="navbar-brand" href="index.html">Hydrogen</a>		
      </div>
    </div>
  </div>
</header>